canvas{
    border: 5px dashed yellow;
    border-radius: 20px;
    margin-top:70px;
    margin-left: 0;
    }
    #d{
    float: right; 
    width: 30; 
    height: 30;
    }
    #d:hover{
    width: 40;
    height: 40;
    color: blue;
    }